<div *ngIf="isLoggedIn">
    <div *ngIf="playlist$ | async as playlist; else loading">
        <h1>Title : {{playlist.PlaylistName}}</h1>
        <div>
            <p>Créé par : {{playlist.createdBy.pseudo}}</p>
        </div>
        <div class="col-sm-3">
            Titres
            <ul *ngFor='let song of playlist.songs'>
                <li>{{song.SongName}}</li>
                <audio controls>
                    <source [src]=transform(song.Path) type="audio/mpeg">
                </audio>
            </ul>
        </div>
    </div>
</div>
<div class="container" *ngIf="!isLoggedIn">
    <h3 class="public-user" style="text-align: center">Please login in order to access this page</h3>
</div>
<ng-template #loading>
    Loading...
</ng-template>
