<body>
        <div class="caption">
                <span class="border">Welcome</span>
                <span>
                        <p> Hello, welcome to our TMB site, here you can find and listen to various songs from
                                different artists. <br>
                                You can also have a personalized playlist suited to your likings. <br>
                                All you have to do is to subscribe and enjoy ! <br>
                                What are you waiting for
                                <button class="btn" (click)="onClick()"> Sign up</button>
                                <br> </p>
                </span>
        </div>
</body>