<div *ngIf="artist$ | async as artist; else loading">
    <h1>Artwork by {{artist.ArtistName}} : </h1>
    <div class="row">
        <h3>Albums :</h3>
    </div>
    <div class="row">
        <div class="col-sm-3" *ngFor='let album of albums$ | async'>
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">{{album.AlbumName}}</h5>
                    <button type="button" class="btn btn-primary" [routerLink]="['/album', album.id]">Listen</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h3>Songs :</h3>
    </div>
    <div class="row">
        <div class="col-sm-3" *ngFor='let song of songs$ | async'>
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">{{song.SongName}}</h5>
                    <button type="button" class="btn btn-primary" [routerLink]="['/album', song.fk_album]">Listen</button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    Loading...
</ng-template>