<div *ngIf="album$ | async as album; else loading">
        <h1>Title : {{album.AlbumName}}</h1>
        <div>
            <p>Par  : {{album.Artist.ArtistName}}</p>
        </div>
        <div class="col-sm-3" >
            Titres
            <ul *ngFor='let song of album.Songs'>
               <li>{{song.SongName}}</li>
               <audio controls>
                   <source [src]=transform(song.Path)  type="audio/mpeg">
               </audio>
            </ul>
        </div>
</div>

<ng-template #loading>
    Loading...
</ng-template>
