.logo{      
    margin-left: 1px;      
    // height: 35px;
    // width: 120px;      
}      

.navbar-light .navbar-nav .nav-link:focus {
    color: rgb(255 85 118);
}

.navbar-light .navbar-nav .nav-link:hover{
    color: rgb(16 17 173);
}
.nav-link:hover {
    cursor: pointer;
}
  