<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
   <!-- Container wrapper -->
   <div class="container-fluid">
     <!-- Navbar brand -->
     <a class="navbar-brand" href="#">The Music Box</a>
 
     <!-- Toggle button -->
     <button
       class="navbar-toggler"
       type="button"
       aria-expanded="false"
      aria-label="Toggle navigation"
       (click)="toggleNavbar()"
     >
       <i class="fas fa-bars"></i>
     </button>
 
     <!-- Collapsible wrapper -->
     <div
       class="collapse navbar-collapse"
       [ngClass]="{ 'show': navbarOpen }"
     >
       <!-- Left links -->
       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <li class="nav-item">
           <a class="nav-link active" aria-current="page" href="#">Accueil</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" routerLink="/playlist">Playlist</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" routerLink="/album">Album</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" routerLink="/artist">Artist</a>
         </li>
       </ul>
       <!-- Left links -->
 
       <!-- Search form -->
       <form class="d-flex input-group w-auto">
         <input
           type="search"
           class="form-control"
           placeholder="..."
           aria-label="Search"
         />
         <button class="btn btn-outline-primary" type="button">
           Rechercher
         </button>
       </form>
     </div>
   </div>
 </nav>
 </header>
 <br/>
