<div class="all">
      <div class="float-container">

            <div class="float-child green">
                  <div class="album">
                        <h4>Albums</h4>
                        <app-list-album></app-list-album>
                  </div>
            </div>

            <div class="float-child">
                  <div class="playlist"></div>
                  <h4>Playlists</h4>
                  <app-list-playlist></app-list-playlist>
            </div>
            <div class="float-child">
                  <div class="artist"></div>
                  <h4>Artists</h4>
                  <app-list-artist></app-list-artist>
            </div>
      </div>
</div>